body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background:url(https://e1.pxfuel.com/desktop-wallpaper/407/1022/desktop-wallpaper-website-backgrounds-login-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#app {
    width: 300px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.screen {
    display: none;
}

.screen.active {
    display: block;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
  
    
}


 input{width:90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;


 }   
    


 select, button {
    width:100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;

}

button {
    background: #5f4cce;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    filter: brightness(0.9);
}

.hidden {
    display: none;
}
#book-list{
    width:100%;
    height:auto;
    margin: 5px 0;
    color: black;
    position: absolute;
    

}
